body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 50px;
    font-family: 'East Sea Dokdo', cursive;
}
.top-header{
    display: table;
    width: 100%;
}
ul.manuitem {
    list-style: none;
    float: right;
    margin: 50px;
}
ul.manuitem li {
    float: left;
    position: relative;
}
ul.manuitem a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    display: block;
    padding: 10px 20px;
    color: #1b1a1a;
    font-weight: 700;
    transition: .5s;
}
ul.manuitem a:hover{
    color: orange;
}
.orange-color{
    color: orange;
}
.half-page{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 20px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, lightsalmon ,tomato);
    color: white;
    transition: .5s;
}
.link-button:hover{
    color: lightgray;
}
.half-page img{
    width: 100%;
}
.top-bar{
    background-color: #F8F9FC;
}
section{
    height: 500px;
    padding-bottom: 70px;
}
.about{
    padding-top: 70px;
}
i.fas.fa-arrow-down {
    margin-right: 5px;
    font-size: 15px;
}


.working-project{
    background-color: #F8F9FC;
    height: 700px;
}
.heading-work {
    text-align: center;
    padding-top: 110px;
    font-size: 35px;
    padding-bottom: 40px;
}
.work-page{
    overflow: hidden;
    margin: 7%;
}
.project {
    width: 355px;
    float: left;
    overflow: hidden;
    margin-right: 30px;
    background-color: white;
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
}
.work-img img {
    width: 100%;
}
.work-img {
    margin: 15px;
}
.work-detals {
    padding: 15px;
}
.last-img img{
    width: 100%;
}
.service-all{
    overflow: hidden;
    margin: 7%;
    padding: 2px;
}
.item {
    width: 300px;
    height: 280px;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    background-color: #f8f9fa;
    float: left;
    margin-right: 25px;
    transition: 0.7s;
}
.item .circle{
    width: 80px;
    height: 80px;
    background-color: transparent;
    border-radius: 50%;
    border:1px solid orange;
    margin: auto;
    text-align: center;
    transition: 0.7s;
}
.item .circle h2{
    line-height: 15px;
    color: #f21e4e;
    font-weight: 700;
    font-size: 40px;
}
.content h2 {
    padding: 15px;
}
.item:hover .circle {
    background-color: #FEE8ED;
    border: 1px solid white;
}
.item:hover {
    background-color: white;
    box-shadow: 5px 5px 10px gray;
}
.Work-Inquiry img{
    width: 100%;
}
.Work-Inquiry {
    width: 800px;
    margin-left: 248px;
}
footer h4 {
    text-align: center;
    font-size: 25px;
}

footer h2 {
    font-size: 40px;
    text-align: center;
}
.icons-tag {
    margin-left: 525px;
}

.icons-tag img {
    width: 50px;
    padding: 20px;
}
h2.w-Inquiry {
    position: absolute;
    color: white;
    padding: 26px;
    font-size: 55px;
    margin-left: 24px;
    font-weight: 900;
}
.Work-Inquiry h5 {
    position: absolute;
    color: white;
    margin-top: 70px;
    font-size: 20px;
    margin-left: 597px;
    background-color: orange;
    padding: 20px 30px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
}